<div id="<%= dom_id store %>">
  <table border="1" width="500px">
    <tr>
      <td>Store name: </td>
      <td><%= store.name %></td>
    </tr>
    <tr>
      <td>Printer name: </td>
      <td><%= store.printer_name %></td>
    </tr>
    <tr>
      <td>Webserver name: </td>
      <td><%= store.webserver_name %></td>
    </tr>
    <tr>
      <td>DB Server name: </td>
      <td><%= store.dbserver_name %></td>
    </tr>
    <tr>
      <td>Store Address: </td>
      <td><%= store.address %></td>
    </tr>
  </table>
</div>
